.App {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  font-family: 'Raleway', sans-serif;
}

.job_application_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  border-style: groove;
  border-radius: 20px;
}

.job_applications_div {
  padding-top: 200px;
}

.job_applications_form_div {
  padding-top: 100px;
}

.login {
  border-style: hidden;
  background-color: white;

}

.delete-button {
  background-color: rgb(255, 0, 0);
}