.App {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  font-family: 'Raleway', sans-serif;
}

.job_application_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  border-style: groove;
  border-radius: 20px;
  font-weight: bold;
}

.job_applications_div {
  padding-top: 200px;
}

.job_applications_form_div {
  padding-top: 100px;
}

.login {
  border-style: hidden;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}

.signup {
  border-style: hidden;
  background-color:rgb(255, 255, 255);
  border-radius: 5px 5px;
  padding-bottom: 10px;
}

.delete-button {
  background-color: rgb(255, 0, 0);
}

.job_applications_form {
  margin-left: auto;
  Margin-right: 0;
}

.hello {
  font-size: 80px;
}